body{
url("https://static-cse.canva.com/blob/142356/removing-background-images_Unsplash.bad043c2.jpeg");
}


.form{
text-align:center;
color:maroon;
}

#firstname{
margin-left:32px;
}

#lastname{
margin-left:32px;
}
