body{
color: black;
}

html{
  background-image: url("https://www.freecodecamp.org/news/content/images/2020/04/w-qjCHPZbeXCQ-unsplash.jpg");
}

.form{
text-align:center;
}

#firstname{
  margin-left:20px;
}

#lastname{
  margin-left:30px;
}

#email{
  margin-left:30px;
}
