body{
color: black;
}

html{
  background-image: url("https://static-cse.canva.com/blob/142356/removing-background-images_Unsplash.bad043c2.jpeg");
}

.form{
text-align:center;
}

#firstname{
  margin-left:0px;
}

#lastname{
  margin-left:50px;
}

#email{
  margin-right:0px;
}
