body{
background-color: royalblue;
}

h1{
color:maroon;
text-align:center;
}

p{
text-align:center;
color:maroon;
}

h2{
color:orange;
text-align:center;
}

button{
background-color:green;
align:center;
}

.form{
text-align:center;
color:maroon;
}

#email{
margin-left:32px;
}

#major{
margin-left:32px;
}
