body{
color: black;
}

.title{
  text-align:center;
}
 

html{
  background-image: url("https://www.freecodecamp.org/news/content/images/2020/04/w-qjCHPZbeXCQ-unsplash.jpg");
}

.form{
  text-align:center;
  border: 10px solid white;
  margin-left: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
}

#firstname{
  margin-left:20px;
}

#lastname{
  margin-left:20px;
}

#email{
  margin-left:50px;
}
